<h1>Welcome!</h1>

<div>
    
     <h3>Sign Up</h3>
       <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
         <div>
           <label for="email">Email</label><br>
           <input formControlName="email"  type="email"  required><br>
           <label for="password">Password</label><br>
           <input formControlName="password"  type="password">
         </div>
         <button>Submit</button><br>
         <span>Already have an account? 
         <a routerLink="/login">Login</a></span>
       </form>
   </div>